<header id="header" class="alt">
	<h1 id="logo"><a href="/">Salud y Bienestar</a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="/">Inicio</a></li>
			<li class="submenu">
				<a href="#">Productos</a>
				<ul>
					<li><a href="/productos/frescos">Productos Frescos</a></li>
					<li><a href="/productos/ofertas">Ofertas Especiales</a></li>
					<li><a href="/productos/marcas">Marcas de Confianza</a></li>
				</ul>
			</li>
			<li><a href="/historia">Nuestra Historia</a></li>
			<li><a href="/directiva">La Directiva</a></li>
			<li><a href="/recetas">Recetas & Blog</a></li>
			<li><a href="/ubicaciones">Ubicaciones</a></li>
			<li><a href="/contacto">Contactanos</a></li>
			<li><a href="/register" class="button primary">Registrarse</a></li>
		</ul>
	</nav>
</header>
